<section>
    <form #addCustomerForm="ngForm" (ngSubmit)="addCustomer(addCustomerForm.value)">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" ngModel><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" ngModel><br>
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age" ngModel><br>
        <label for="membership">Membership:</label><br>
        <input type="checkbox" id="membership" name="membership" ngModel><br>
        <label for="area">Area:</label><br>
        <select name="area" ngModel> // value is a string or number
            <option *ngFor="let area of areas" [ngValue]="area.Area">{{ area.Area }}</option>
        </select> <br>
        <label for="id">ID:</label><br>
        <input type="number" id="id" name="id" ngModel><br><br>
        <button type="submit">Add customer</button>
    </form>
</section>