<header>
    <nav>
        <a routerLink="/customers-admin">Customers admin</a> |
        <a routerLink="/areas-admin">Areas admin</a>
    </nav>
    <h1> Cars admin </h1>
</header>
<app-car-add-form></app-car-add-form>
<section>
    <table>
        <thead>
            <tr>
                <td>Registration number</td>
                <td>Area</td>
                <td>Update area</td>
                <td>Driver</td>
                <td>Driver ID</td>
                <td>Delete</td>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let car of cars">
                <a [routerLink]="['/cars/' + car.Registration_number]">{{ car.Registration_number }}</a>
                <td>{{ car.Area }}</td>
                <td><select #mySelect (change)="updateCarArea(mySelect.value, car.Registration_number)"> 
                    <option>Update</option>
                    <option *ngFor="let area of areas" [value]="area.Area">{{area.Area}}</option>
                </select></td>
                <!-- TODO: This iscausing the error-->
                <td>{{ car.Driver }}</td>
                <td>{{ car.Driver_id}}</td>
                <td class="delete" (click)="deleteCar(car.Registration_number)">Delete</td>
            </tr>
        </tbody>
    </table>
</section>