<header>
    <nav>
        <a routerLink="/customers-admin">Customers admin </a> |
        <a routerLink="/cars-admin">Cars admin</a>
    </nav>
    <h1> Area admin </h1>
</header>
<app-add-area-form></app-add-area-form>
<section>
    <table>
        <thead>
            <tr>
                <td>Area</td>
                <td>Population</td>
                <td>Size</td>
                <td>Number of cars</td>
                <td>Number of customers</td>
                <td>Delete</td>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let area of areas">
                <td>{{ area.Area }}</td>
                <td>{{ area.Population }}</td>
                <td>{{ area.Size }}</td>
                <td>{{ area.Nr_cars }}</td>
                <td>{{ area.Nr_customers }}</td>
                <td class="delete" (click)=deleteArea(area.Area)>Delete</td>
            </tr>
        </tbody>
    </table>
</section>