<header>
    <nav>
        <a routerLink="/customers-admin">Customer admin</a>
    </nav>
    <h1> Customers </h1>
</header>
<section>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Address</td>
                <td>Car</td>
                <td>Age</td>
                <td>Membership</td>
                <td>Area</td>
                <td>ID</td>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{ customer.Name }}</td>
                <td>{{ customer.Address }}</td>
                <td>{{ customer.Car }}</td>
                <td>{{ customer.Age }}</td>
                <td>{{ customer.Membership }}</td>
                <td>{{ customer.Area }}</td>
                <td>{{ customer.id}}</td>
            </tr>
        </tbody>
    </table>
</section>