<section>
    <form #addAreaForm="ngForm" (ngSubmit)="addArea(addAreaForm.value)">
        <label for="area">Area:</label><br>
        <input type="text" id="area" name="Area" ngModel><br>
        <label for="population">Population:</label><br>
        <input type="number" id="population" name="Population" ngModel><br>
        <label for="size">Size:</label><br>
        <input type="number" id="size" name="Size" ngModel><br>
        <button type="submit">Add area</button>
    </form>
</section>