<header>
    <nav>
        <a routerLink="/customers">Customers</a> |
        <a routerLink="/areas-admin">Areas admin</a> |
        <a routerLink="/cars-admin">Cars admin</a>
    </nav>
    <h1> Customers admin </h1>
</header>
<app-customer-add-form></app-customer-add-form>
<section>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Address</td>
                <td>Car</td>
                <td>Add car</td>
                <td>Drop Car</td>
                <td>Age</td>
                <td>Membership (click to update)</td>
                <td>Area</td>
                <td>Update area</td>
                <td>ID</td>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{ customer.Name }}</td>
                <td>{{ customer.Address }}</td>
                <td>{{ customer.Car }}</td>
                <td><select class="option" #Car (change)="updateCar(Car.value, customer.id)">
                    <option value="">Update</option>
                    <ng-container *ngFor="let car of cars">
                        <option *ngIf="customer.Area == car.Area" [value]="car.Registration_number">{{ car.Registration_number}}</option>
                    </ng-container>
                </select></td>
                <td class="change" (click)="dropCar(customer.id)">Drop car</td>
                <td>{{ customer.Age }}</td>
                <td class="change" (click)="updateMembership(customer.id)">{{ customer.Membership }} </td>
                <td>{{ customer.Area }}</td>
                <td><select #Area (change)="updateCustomerArea(Area.value, customer.id)"> 
                    <option>Update</option>
                    <option *ngFor="let area of areas" [value]="area.Area">{{area.Area}}</option>
                </select></td>
                <td>{{ customer.id}}</td>
                <td class="delete" (click)="delete(customer.id)">Delete</td>
            </tr>
        </tbody>
    </table>
</section>