<section>
    <form #addCarForm="ngForm" (ngSubmit)="addCar(addCarForm.value)">
        <label for="reg-num">Registration number:</label><br>
        <input type="text" id="reg-num" name="regNum" ngModel><br>
        <label for="make">Make:</label><br>
        <input type="text" id="make" name="make" ngModel><br>
        <label for="model">Model:</label><br>
        <input type="text" id="model" name="model" ngModel><br>
        <label for="year">Year:</label><br>
        <select name="year" ngModel> 
            <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select> <br>
        <label for="seats">Seats:</label><br>
        <input type="number" id="seats" name="seats" ngModel><br>
        <label for="rate">Rate:</label><br>
        <input type="number" id="rate-mem" name="rateMember" ngModel> member<br>
        <input type="number" id="rate-non-mem" name="rateNonMember" ngModel> non-member<br>
        <label for="fuel">Fueltype</label><br>
        <input type="text" id="fuel" name="fuel" ngModel><br>
        <label for="area">Area:</label><br>
        <select name="area" ngModel>
            <option *ngFor="let area of areas" [ngValue]="area.Area">{{ area.Area }}</option>
        </select> <br>
        <label for="mileage">Mileage:</label><br>
        <input type="number" id="mileage" name="mileage" ngModel><br><br>
        <button type="submit">Add car</button>
    </form>
</section>