<header>
    <nav>
        <a routerLink="/customers-admin">Customers admin</a> |
        <a routerLink="/areas-admin">Areas admin</a> |
        <a routerLink="/cars-admin">Cars admin</a>
    </nav>
    <h1> Car detail </h1>
</header>
<section *ngIf="dataLoaded">
    <table>
        <thead>
            <tr>
                <td>Registration number</td>
                <td>Make</td>
                <td>Model</td>
                <td>Area</td>
                <td>Driver</td>
                <td>Driver ID</td>
                <td>Seats</td>
                <td>Mileage</td>
                <td>Rate member</td>
                <td>Rate non-member</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{car.Registration_number}}</td>
                <td>{{car.Make}}</td>
                <td>{{car.Model}}</td>
                <td>{{car.Area}}</td>
                <td>{{car.Driver}}</td>
                <td>{{car.Driver_id}}</td>
                <td>{{car.Seats}}</td>
                <td>{{car.Mileage}}</td>
                <td>{{car.Rate[0]}}</td>
                <td>{{car.Rate[1]}}</td>


            </tr>
        </tbody>
    </table>
</section>